RewriteEngine On

# silent redirecting /crossdomain.xml -> /public/crossdomain.xml; control file for flash player, acrobat reader and other adobe`s products
RewriteCond %{REQUEST_URI} ^\/crossdomain.xml(|\?.*)$
RewriteRule (.*) public/crossdomain.xml [L]

# silent redirecting /favicon.ico -> /public/favicon.ico
RewriteCond %{REQUEST_URI} ^\/favicon.ico(|\?.*)$
RewriteRule (.*) public/favicon.ico [L]

# silent redirecting /robots.txt -> /public/robots.txt
RewriteCond %{REQUEST_URI} ^\/robots.txt(|\?.*)$
RewriteRule (.*) public/robots.txt [L]

RewriteCond %{REQUEST_URI} !^\/public\/
RewriteRule (.*) dispatcher.php [L]
