/*
 * Loading cursor during asynchronous javascript
 */
body.loading, body.loading button, body.loading input, body.loading a, body.loading select {
	cursor: wait;
}

/*
 * Blueprint has built-in classes notice, error and success.
 * Here is an another one. I`ve found it missing.
 */
.warning {
	border:2px solid red;
	margin-bottom:1em;
	padding:0.8em;
}

.warning {
	background:none repeat scroll 0 0 orange;
	border-color:red;
	color:black;
}

span.notice, span.error, span.success, span.warning,
em.notice, em.error, em.success, em.warning,
strong.notice, strong.error, strong.success, strong.warning,
a.notice, a.error, a.success, a.warning
{
	padding: 0.2em;
	border: none;
}

span.notice{
	background-color: #FFD324; /* this is the colour of div.notice`s border, TODO: change likewise the background color on span.error and span.error */
}

/*
 * Styling form elements.
 *
 * see shared templates
 *		app/views/shared/_form*
 *		app/views/shared/_generic_form*
 */
.error_field { background-color:#fbe3e4; padding-top:1em; padding-bottom:1em; }
.error_field * { color:#8a1f11; }
.error_field select, .error_field input, .error_field textarea { color:#000; }
label { padding-right:8px; font-weight:normal; }
ul.error_list { list-style-type:none; padding-left:0; margin-left: 13.5em; margin-bottom:0; }
ul.error_list li { padding-left:0; }

fieldset .help { color: gray; }
fieldset div.help{ clear: both; padding-left: 13em; }

ul.radios, ul.checkboxes {
	float: left;
	margin: 0;
}

ul.radios label, ul.checkboxes label{
	float: none;
	text-align: left;
}

ul.radios, ul.checkboxes{
	list-style: none;
}

/*
 * Error explanation produced by
 * {$form->get_error_report()}
 */
.errorExplanation{ border: 2px solid #fbc2c4; color: #8a1f11; }
.errorExplanation h3{ background-color: #fbe3e4; color: #8a1f11; padding: 1em; font-size: 100%; border-bottom: 2px solid #fbc2c4; } 
.errorExplanation ul{ padding: 0.5em 3em; }

/*
 * Paginator
 */
.paginator {
	margin:0;
	border-top:1px silver solid;
	padding-top:1em;
	margin-top:2em;
}
.paginator ul {
	margin: 0;
	list-style: none;
}
.paginator ul li {
	float: left;
	margin-right: 0.75em;
}
.paginator ul li.active, .paginator ul li a {
	display: block;
	padding: 0.25em 0.8em;
	border: 1px solid #ddd;
	text-decoration: none;
}
.paginator ul li a:focus, .paginator ul li a:hover {
	border-color: darkgray;
}
.paginator ul li.active {
	background-color: lightgray;
	color: #fff;
	font-weight: bold;
	border-color: lightgray;
	color: black;
}
.paginator p {
	padding: 0.25em;
}

pre {
	padding: 1em;
	margin: 1em;
	border: 1px solid #CCCCCC;
}

h1#logo{
	background-color: #666666;
	color: white;
}
h1#logo span{
	display: block;
	margin: 0 auto;
	width: 950px;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

li.active {
	font-weight: bold;
}

#siblings{
	background-color: #cccccc;
	width: 15em;
	padding: 1em;
	margin-bottom: 1em;
}
