h1 {
	margin-bottom: 2rem;
}

.body_articles_detail {
	article {
		margin-bottom: $grid-gutter-width*2;
	}
	.pager {
		border-top: 1px solid $gray-300;
		margin: 0;
		padding-top: $grid-gutter-width;
	}
}

.article-items {
	@include media-breakpoint-up(md){
		display: flex;
		flex-wrap: wrap;
		margin: 0 divide(0-$grid-gutter-width, 2) $grid-gutter-width divide(0-$grid-gutter-width, 2);
	}
	article {
		margin-bottom: $grid-gutter-width;
		background-color: $gray-100;
		border-bottom: 1px solid $gray-300;
		padding: 1rem;
		
		@include media-breakpoint-up(md){
			flex-basis: calc(50% - #{$grid-gutter-width});
			margin: 0 divide($grid-gutter-width, 2) divide($grid-gutter-width, 2) divide($grid-gutter-width, 2);
		}
		
		h2 {
			font-size: 1.5rem;
		}
	}
}


pre {
	background-color: $gray-200;
	padding: 0.5rem;
}