// form-inline taken from BS4
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; // Prevent shorter elements from growing to same height as others (e.g., small buttons growing to normal sized button height)

  // Because we use flex, the initial sizing of checkboxes is collapsed and
  // doesn't occupy the full-width (which is what we want for xs grid tier),
  // so we force that here.
  .form-check {
    width: 100%;
  }

  // Kick in the inline
  @include media-breakpoint-up(sm) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    // Inline-block all the things for "inline"
    .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0;
    }

    // Allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }

    // Make static controls behave like regular ones
    .form-control-plaintext {
      display: inline-block;
    }

    .input-group,
    .custom-select {
      width: auto;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match.
    .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
    }
    .form-check-input {
      position: relative;
      flex-shrink: 0;
      margin-top: 0;
      //margin-right: $form-check-input-margin-x;
      margin-left: 0;
    }

    .custom-control {
      align-items: center;
      justify-content: center;
    }
    .custom-control-label {
      margin-bottom: 0;
    }
  }
}

// Some additional styling form elements

form {
	.form-group {
		> ul.list--radios, > ul.list--checkboxes {
			@extend .list-unstyled;
			margin-bottom: 0;
		}
		> .feedback {
			margin-top: 0.1rem;
			ul {
				@extend .list-unstyled;
				margin-bottom: 0;
			}
			&.feedback--invalid {
				color: $danger;
			}
			&.feedback--optional {
				@extend .text-muted;
				font-size: 0.85rem;
			}
		}
		> .help-block {
			@extend .text-muted;
			font-size: 0.85rem;
			line-height: 1.1;
			padding-top: 0.5rem;
			ul {
				margin-bottom: 0;
				padding-left: 1rem;
			}
		}
		> .alert {
			padding: 0.1rem 0.25rem;
			margin-bottom: 0;
		}
		label  {
			.tip {
				@extend .text-muted;
			}
		}
	}
}

// Applies CSS grid to .form-group to create horizontal form.

.form-horizontal, .fieldset-horizontal {
  .form-group {
		@include media-breakpoint-up(md){
			display: grid;
			grid-template-columns: 3fr 5fr 4fr;
			grid-template-rows: auto auto auto;
			grid-template-areas: 
				'label control help'
				'middleleft feedback help'
				'bottomleft instantfeedback help';
			grid-gap: 0 divide($grid-gutter-width, 2);
			margin: 0;
			border-top: 1px solid $gray-200;
		}
		@include media-breakpoint-up(lg){
			grid-template-columns: 2fr 5fr 3fr;
		}
		> label {
			padding-top: calc(.375rem + 1px);
			line-height: 1.5;
			grid-area: label;
		}
		> .form-control, .custom-control, > .btn, > .button-container {
			grid-area: control;
		}
		> ul.list--radios, > ul.list--checkboxes {
			grid-area: control;
		}
		> .feedback {
			grid-area: feedback;
		}
		> .help-block {
			grid-area: help;
			padding-top: 0;
		}
		> .alert {
			grid-area: instantfeedback;
			justify-self: stretch;
		}
		// Two classes added just to get rid of autoprefixer warnings
		> .dummy-111 {
			grid-area: bottomleft;
		}
		> .dummy-222  {
			grid-area: middleleft;
		}
		.button-container {
			display: inline-block;
		}
	}
}

// Lines between form-groups for better readiblity
form {
	.form-group {
		padding: 1rem 0;
	}
}

// Validation states
form {
	.form-group {
		&.form-group--has-error {
			.form-control {
				border: 1px solid $danger;
			}
			label {
				color: $danger;
			}
		}
		&.form-group--is-valid {
			.form-control {
				border: 1px solid $success;
			}
		}
	}
}