// Admin header and breadcrumbs

ol.breadcrumb {
	margin-top: -1.5rem;
	margin-bottom: 3rem;
	li:not(:first-child)::before {
		font-family: $fa-font-family;
		content: "\f061";
		font-weight: bold;
		font-size: 0.875em;
		margin-top: 0.175em;
	}
}

.header--main {
	padding-top: 0;
	$borderStyle: 1px solid $primary;
	$collapseBreakpoint: lg;
	
	.container-fluid {
		border-right: $borderStyle;
		border-left: $borderStyle;
	}
	nav.navbar {
		padding-top: 0;
		padding-bottom: 0;
		color: $primary;
		.nav-link {
			padding-top: 1em;
			padding-bottom: 1em;
			color: $primary;
		}
		.nav-separator {
			border-left: $borderStyle;
			margin-left: 0.75rem;
			margin-right: 0.75rem;
			width: 0;
			padding: 0;
		}
		.container-fluid {
			border-bottom: $borderStyle;
		}
		@include media-breakpoint-up($collapseBreakpoint) {
			border-top: $borderStyle;
		}
	}
	.header__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: $borderStyle;
		flex-wrap: wrap;
		gap: 1rem 2rem;
		color: $primary;	
		line-height: 1;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		a {
			color: inherit;
		}
		p {
			margin: 0;
			font-weight: 500;
		}
		h1,.h1 {
			margin: 0;
			font-weight: 600;
			//padding: 0.75em;
			padding-left: 0;
			white-space: nowrap;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		@include media-breakpoint-down($collapseBreakpoint) {
			border-top: $borderStyle;
			p {
				flex-basis: 100%;
			}
		}
		
	}

	@include media-breakpoint-down($collapseBreakpoint) {
		display: flex;
		flex-direction: column;
		> nav.navbar {
			.container-fluid {
				border-bottom: none;
				padding: 0;
				> * {
					padding-left: 1rem;//$container-padding-x;
					padding-right: 1rem;//$container-padding-x;
					border-bottom: $borderStyle;
					padding-bottom: 1rem;
					background-color: rgba(	$primary, 0.05);
				}
			}
			order: 2;
		}
	}

	.navbar-toggler {
		border: none;
		color: $primary;
		padding: 0.5rem;
		font-size: 1.5rem;
		&:focus:not(:focus-visible) {
			box-shadow: none;
		}
		&[aria-expanded="false"] {
			.navbar-toggler__bars {
				display: inline-block;
			}
			.navbar-toggler__xmark {
				display: none;
			}
		}
		&[aria-expanded="true"] {
			.navbar-toggler__bars {
				display: none;
			}
			.navbar-toggler__xmark {
				display: inline-block;
			}
		}
	}
}