.nav--toc {
  //outline: 1px solid red;
  .nav-link {
    color: inherit;
    transition: background-color 1s ease;
    &.active {
      color: $primary;
      //border-bottom: 1px solid $primary;
      font-weight: 600;
    }
    &:hover {
      background-color: $primary;
      color: white;
      transition: background-color 0.2s ease;
      .chapter-no {
        color: rgba(white,0.6);
      }
    }
    &--level-1 {
      font-weight: bold;
    }
    &--level-2 {
      font-weight: normal;
      padding-inline-start: 3ch;
      .chapter-no {
        color: $gray-600;
      }
    }
  }
}

#toc-toggle {
  border-inline-start: 1px solid $primary;
  &.show, &.showing, &.hiding {
    overflow-y:scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
  }
  
}

.toc {
  
}