//
// Project specific Variables
// --------------------------------------------------

//** Breadcrumb background color
@breadcrumb-bg:                 #ffffff;
@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 0px;


@theme-color: #00ce23;
@theme-color-darker: darken(@theme-color, 10%);

@brand-primary: @theme-color-darker;

/* @font-family-serif: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif; */
/* @font-family-serif: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif; */
