/* Yarriho prasenicko zacina tady */

header {
	.navbar {
		background-color: @ton-color;
		a:hover {
			background-color: @ton-color-darker;
		}
	}

	.bs-docs-header {
		p {
			color: @ton-color-darker;
		}
	}
}

.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 30px 15px;
    color: #999;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #222;
    background-repeat: repeat-x;
}

.bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
}

.bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
}
.bs-docs-header h1 {
    margin-top: 0px;
    color: #FFF;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-header {
    float: left;
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav > li > a {
    font-weight: 500;
    color: #222;
}
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
}

.bs-docs-nav {
    margin-bottom: 0px;
    background-color: #FFF;
    border-bottom: 0px none;
}
