application.pot
application_admin.pot
files_php
files_php_admin
files_smarty_templates
files_smarty_templates_admin
files_vendor
smarty.c
smarty_admin.c
vendor.pot
*/LC_MESSAGES/application.mo
*/LC_MESSAGES/application_admin.mo
*/LC_MESSAGES/admin.mo
*/LC_MESSAGES/atk14.mo
*/LC_MESSAGES/vendor.mo
*/LC_MESSAGES/messages.po
